{% extends "BasePage.html" %}

{% block pageTitle %}
新聞
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/news.css" />
{% endblock %}

{% block mainContent %}

	{% for item in newsList %}

		<div class="newsArea">

			<div class="newsImg">
				{% if item.photo|length > 10 %}
					<img src="{{item.photo}}">
				{% else %}
					<img src="/static/images/news.jpg">
				{% endif %}
			</div>
			<div class="newsTitle">
				<p>{{item.title}}</p>
			</div>

		</div>

	{% endfor %}


	<div style="clear:both;height:60px;padding-top:100px;text-align: center;">

		{% if newsList.has_previous %}

			<a href="?page={{newsList.previous_page_number}}">上一頁</a>

		{% endif %}

		{% if newsList.has_next %}

			<a href="?page={{newsList.next_page_number}}">下一頁</a>

		{% endif %}

	</div>


{% endblock %}